$breakpoints: (
    xs: 0,
    sm: 576,
    md: 768,
    lg: 992,
    xl: 1200,
);

$z-index: ();

$font-base: system-ui;
$font-heading: $font-base;

$font-sizes: (
    xs: 14px,
    md: 16px,
);

$title-sizes: (
    xs: (28px, 24px, 20px),
    md: (32px, 26px, 24px),
    xl: (46px, 36px, 30px),
);

$color-white: #fff;
$color-black: #000;

$color-text: $color-black;
$color-bg: $color-white;
$color-reversed-bg: $color-text;
$color-reversed-text: $color-bg;

$gutter: 10px;
$transition-time: .3s;
