$container-max-width: breakpoint(xl);

$container-horizontal-paddings: (
    xs: $gutter * 2,
);

$container-fluid-horizontal-paddings: (
    xs: $gutter * 2,
    xl: $gutter * 10,
);

.container {
    width: 100%;
    max-width: $container-max-width;
    margin-right: auto;
    margin-left: auto;
    @include each-breakpoint($container-horizontal-paddings, (padding-left, padding-right));

    &--fluid {
        max-width: none;
        @include each-breakpoint($container-fluid-horizontal-paddings, (padding-left, padding-right));
    }
}
